In [60]:
#importing necessary libraries
import pandas as pd
import sqlite3

#Establishing connection to database
conn = sqlite3.connect("pharm_data.db")

#Fetching list of tables we have access to, for reference
cursor = conn.cursor()
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("ALL TABLES: ",end="")
for table in tables: print(table[0],end=", ")
print("\b\b")

#Asks user for their zip code, gets state, determines pdp_region_code based on state
user_zip = input("Enter your zipcode: ")
user_state = pd.read_sql("select COUNTY,STATENAME\
                          from ZIP_STATE_COUNTY\
                          where ZIPCODE is '" + user_zip + "'", conn)\
            ['STATENAME'].values[0].rstrip()

user_pdp_region_code = pd.read_sql("select distinct PDP_REGION_CODE\
                                    from GEOGRAPHIC_LOCATOR\
                                    where STATENAME is '"+user_state+"'",conn)\
                       ['PDP_REGION_CODE'].values[0]

ALL TABLES: BENEFICIARY_COST, GEOGRAPHIC_LOCATOR, PLAN_INFO, ZIP_STATE_COUNTY, NCPDP, FORMULARY_DATA, NDC_DATA
Enter your zipcode: 07095

In [78]:
#Step 3, filtering formulary_ids by pdp_region_code and contract_id
F_SUBSET = pd.read_sql("select * from PLAN_INFO\
                        where PDP_REGION_CODE is '"+str(user_pdp_region_code)+"'\
                        and CONTRACT_ID like 'S%'",conn)\
           [['CONTRACT_ID','PLAN_ID','SEGMENT_ID','FORMULARY_ID','PREMIUM','DEDUCTIBLE','PDP_REGION_CODE']]
F_SUBSET

,CONTRACT_ID,PLAN_ID,SEGMENT_ID,FORMULARY_ID,PREMIUM,DEDUCTIBLE,PDP_REGION_CODE
0,S0522,4,0,18041,30.4,405.0,4
1,S4802,78,0,18443,36.9,405.0,4
2,S4802,101,0,18439,79.5,0.0,4
3,S5601,8,0,18419,34.3,0.0,4
4,S5601,9,0,18420,84.6,0.0,4
5,S5617,18,0,18082,74.8,405.0,4
6,S5617,249,0,18083,52.9,0.0,4
7,S5660,106,0,18154,34.0,405.0,4
8,S5660,207,0,18155,91.7,350.0,4
9,S5660,220,0,18152,22.6,405.0,4
10,S5768,127,0,18059,56.2,0.0,4
11,S5810,38,0,18056,34.9,325.0,4
12,S5810,278,0,18057,19.7,405.0,4
13,S5820,3,0,18039,86.6,0.0,4
14,S5884,62,0,18256,77.8,0.0,4
15,S5884,131,0,18254,37.0,405.0,4
16,S5884,150,0,18255,20.4,405.0,4
17,S5921,349,0,18040,33.2,405.0,4
18,S5921,386,0,18043,26.8,405.0,4
19,S5993,1,0,18130,47.7,405.0,4
20,S5993,3,0,18131,99.6,0.0,4
21,S7694,4,0,18364,51.0,405.0,4

In [86]:
#Step 4, asking user for drugs and strengths
user_generics = {(input("Enter a generic drug name: ").upper(),\
                  float(input("Enter a desired strength: "))):[]\
                 for i in range(int(input("Enter how many drugs you wish to search: ")))}
user_generics

Enter how many drugs you wish to search: 2
Enter a generic drug name: Lisinopril
Enter a desired strength: 10
Enter a generic drug name: Somatropin
Enter a desired strength: 0

{('LISINOPRIL', 10.0): [], ('SOMATROPIN', 0.0): []}

In [188]:
#getting NDCs for each drug,strength combo the user offered in step 4
for drug,strength in user_generics:
    user_generics[(drug,strength)] = pd.read_sql("select PRODUCTNDC from NDC_DATA\
                 where upper(NONPROPRIETARYNAME) like '%"+drug+"%'\
                 and (ACTIVE_NUMERATOR_STRENGTH is '' or ACTIVE_NUMERATOR_STRENGTH is "+str(strength)+")",conn)\
    .applymap(lambda s: "0"*(11-(len(s)-1))+s.replace("-",""))

In [189]:
for drug,strength in user_generics:
    print("DRUG: %s, STRENGTH: %s\n%s" % (drug,strength,user_generics[drug,strength]))

DRUG: LISINOPRIL, STRENGTH: 10.0
      PRODUCTNDC
0    00000060106
1    00001431267
2    00001439714
3    00001723759
4    00001850101
5    00001850610
6    00003100131
7    00003782074
8    00005910407
9    00006034211
10   00006155521
11   00006157641
12   00006157776
13   00006157917
14   00006158053
15   00006158063
16   00009045808
17   00009046485
18   00010544238
19   00010544905
20   00016590306
21   00016729377
22   00021695329
23   00031722419
24   00033261332
25   00033358212
26   00043063485
27   00043063769
28   00043353113
29   00043353169
..           ...
86   00672960622
87   00672961249
88   00068001210
89   00068001268
90   00068001334
91   00680711672
92   00680713113
93   00680713122
94   00068084197
95   00068180514
96   00068180980
97   00068405070
98   00068645552
99   00687886407
100  00687886782
101  00687888912
102  00687888944
103  00687889411
104  00687889661
105  00687889823
106  00687889912
107  00705180246
108  00705180402
109  00705180468
110  00705180530
111  00070882104
112  00076237197
113  00076237309
114  00076282419
115  00076413138

[116 rows x 1 columns]
DRUG: SOMATROPIN, STRENGTH: 0.0
     PRODUCTNDC
0   00000027335
1   00000028147
2   00000028148
3   00000028149
4   00000132626
5   00000132646
6   00000132649
7   00000132650
8   00000132651
9   00000132652
10  00000132653
11  00000132654
12  00000132655
13  00000132656
14  00000132657
15  00000132658
16  00007814004
17  00440870004
18  00440870005
19  00440870006
20  00440870016
21  00440871005
22  00440871080
23  00440871088
24  00440873388
25  00555661801
26  00555661901

In [164]:
drug = 'LISINOPRIL'
strength = 10
pd.read_sql("select * from FORMULARY_DATA\
 where NDC in (select PRODUCTNDC from NDC_DATA\
                 where upper(NONPROPRIETARYNAME) like '%"+drug+"%'\
                 and (ACTIVE_NUMERATOR_STRENGTH is '' or ACTIVE_NUMERATOR_STRENGTH is "+str(strength)+"))",conn)

Empty DataFrame
Columns: [FORMULARY_ID, FORMULARY_VERSION, CONTRACT_YEAR, RXCUI, NDC, TIER_LEVEL_VALUE, QUANTITY_LIMIT_YN, QUANTITY_LIMIT_AMOUNT, QUANTITY_LIMIT_DAYS, PRIOR_AUTHORIZATION_YN, STEP_THERAPY_YN]
Index: []

In [186]:
pd.read_sql("select * from FORMULARY_DATA",conn)

,FORMULARY_ID,FORMULARY_VERSION,CONTRACT_YEAR,RXCUI,NDC,TIER_LEVEL_VALUE,QUANTITY_LIMIT_YN,QUANTITY_LIMIT_AMOUNT,QUANTITY_LIMIT_DAYS,PRIOR_AUTHORIZATION_YN,STEP_THERAPY_YN
0,FORMULARY_ID,FORMULARY_VERSION,CONTRACT_YEAR,RXCUI,NDC,TIER_LEVEL_VALUE,QUANTITY_LIMIT_YN,QUANTITY_LIMIT_AMOUNT,QUANTITY_LIMIT_DAYS,PRIOR_AUTHORIZATION_YN,STEP_THERAPY_YN
1,00018000,9,2018,1551300,00002143380,2,Y,2,28,N,N
2,00018000,9,2018,1551306,00002143480,2,Y,2,28,N,N
3,00018000,9,2018,1745108,00002144511,2,N,,,Y,N
4,00018000,9,2018,855820,00002512130,2,Y,30,30,N,N
5,00018000,9,2018,855816,00002512330,2,Y,30,30,N,N
6,00018000,9,2018,207834,00002733511,2,N,,,Y,N
7,00018000,9,2018,1728075,00002762301,2,N,,,N,N
8,00018000,9,2018,1718936,00002763511,2,Y,2,28,N,N
9,00018000,9,2018,1657777,00002766901,2,N,,,Y,N
10,00018000,9,2018,1657781,00002767801,2,N,,,Y,N
11,00018000,9,2018,1745114,00002772411,2,N,,,Y,N
12,00018000,9,2018,310497,00002803101,2,N,,,N,N
13,00018000,9,2018,729234,00002814701,2,N,,,Y,N
14,00018000,9,2018,582971,00002814801,2,N,,,Y,N
15,00018000,9,2018,582976,00002814901,2,N,,,Y,N
16,00018000,9,2018,1435117,00002840001,2,Y,2.4,28,Y,N
17,00018000,9,2018,351859,00002850101,2,Y,40,28,N,N
18,00018000,9,2018,1731317,00002882427,2,Y,24,28,N,N
19,00018000,9,2018,1855744,00002892601,2,N,,,Y,N
20,00018000,9,2018,1793884,00003001101,2,Y,28,28,Y,N
21,00018000,9,2018,1660191,00003021301,2,Y,28,28,Y,N
22,00018000,9,2018,1660196,00003021501,2,Y,28,28,Y,N
23,00018000,9,2018,1112980,00003037113,2,N,,,Y,N
24,00018000,9,2018,643177,00003052411,2,Y,30,30,Y,N
25,00018000,9,2018,643173,00003052711,2,Y,60,30,Y,N
26,00018000,9,2018,643175,00003052811,2,Y,30,30,Y,N
27,00018000,9,2018,799830,00003085222,2,Y,30,30,Y,N
28,00018000,9,2018,1045408,00003085522,2,Y,30,30,Y,N
29,00018000,9,2018,1045404,00003085722,2,Y,30,30,Y,N
...,...,...,...,...,...,...,...,...,...,...,...
1420294,00018506,9,2018,1921081,70539000101,6,Y,1.56,30,Y,N
1420295,00018506,9,2018,1367848,70688050201,6,Y,4,28,Y,N
1420296,00018506,9,2018,1011738,70839015030,4,N,,,Y,N
1420297,00018506,9,2018,1011741,70839030030,4,N,,,Y,N
1420298,00018506,9,2018,1661799,71090000101,6,Y,4,1,Y,N
1420299,00018506,9,2018,1368459,75987005006,6,N,,,Y,N
1420300,00018506,9,2018,213196,75987006008,6,N,,,Y,N
1420301,00018506,9,2018,1293639,75987009011,6,N,,,N,N
1420302,00018506,9,2018,1806942,76075010101,6,N,,,Y,N
1420303,00018506,9,2018,1806937,76075010201,6,N,,,Y,N
1420304,00018506,9,2018,1809436,76125090001,6,N,,,Y,N
1420305,00018506,9,2018,1921228,76189011318,6,Y,6,1,Y,N
1420306,00018506,9,2018,1364362,76189053430,6,N,,,Y,N
1420307,00018506,9,2018,1364358,76189053530,6,N,,,Y,N
1420308,00018506,9,2018,1191250,76329336901,2,N,,,N,N
1420309,00018506,9,2018,1245268,76346007301,6,N,,,Y,N
1420310,00018506,9,2018,904170,76385010201,4,N,,,N,N
1420311,00018506,9,2018,105553,76388063550,6,N,,,N,N
1420312,00018506,9,2018,105590,76388088025,4,N,,,N,N
1420313,00018506,9,2018,1364498,76431010501,6,Y,1,1,Y,N
1420314,00018506,9,2018,1364490,76431011001,6,Y,1,1,Y,N
1420315,00018506,9,2018,1364494,76431012001,6,Y,1,1,Y,N
1420316,00018506,9,2018,1648772,76431013001,6,Y,1,1,Y,N
1420317,00018506,9,2018,1648776,76431014001,6,Y,1,1,Y,N
1420318,00018506,9,2018,1648780,76431016001,6,Y,1,1,Y,N
1420319,00018506,9,2018,1491634,76431021001,6,N,,,Y,N
1420320,00018506,9,2018,861659,99207017002,2,N,,,N,N
1420321,00018506,9,2018,861661,99207017105,2,N,,,N,N
1420322,00018506,9,2018,861663,99207017210,2,N,,,N,N
1420323,00018506,9,2018,545278,99207017315,2,N,,,N,N

In [185]:
CLEAN_NDC_DATA_TABLE = pd.read_sql("select PRODUCTNDC from NDC_DATA",conn).applymap(lambda s: s.replace("-","")).iloc[1:]
def clean_ndc(s):
    if len(s) in [11,10,9]:
        
CLEAN_NDC_FD_TABLE = pd.read_sql("select NDC from FORMULARY_DATA",conn).applymap()
pd.read_sql("select PRODUCTNDC from CLEAN_NDC_DATA_TABLE where PRODUCTNDC is '00060106'",conn)

  PRODUCTNDC
0  0006-0106